<!DOCTYPE html>
<html>
<head>
  <title>DynamicReact</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="/templates.js"></script>
</head>
<body>

  <div id="app"></div>

<%= yield %>

</body>
</html>
